<p id="notice"><%= notice %></p>

<h1>Books</h1>
<table>
  <thead>
    <tr >
      <th>Title</th>
      <th></th>
      <th>Author</th>
      <th ></th>
      <th>Price</th>
      <th></th>
      <th>Published Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td></td>
        <td><%= book.author %></td>
        <td></td>
        <td><%= number_to_currency(book.price) %></td>
        <td></td>
        <td><%= book.published_date %></td>
        <td></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Book', new_book_path %>


